<header>
  <div class="content">
    <h2 class="mainTitle" ><a [routerLink]="['/trending']" class="navigateToHomePage">Movies Info</a></h2>
    <nav>
      <a routerLink="/trending" routerLinkActive="active">TRENDING MOVIES</a>
      <a routerLink="/all" routerLinkActive="active">ALL MOVIES</a>
      <a routerLink="/posts" routerLinkActive="active">Posts</a>
    </nav>
  </div>

</header>
<div class="body">
  <router-outlet></router-outlet>
</div>
<footer>
    <div class="content">
    </div>
</footer>