nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    height: 100%;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #2D9200;
  }
  nav a:hover {
    /* color: #039be5; */
    color: #FFFFFF;
  }
  nav a.active {
    color: #039be5;
    border-bottom: 1px solid #ffe406;
  }

  #main_title{
    text-align: center;
  }