<div class="custom_bg">
        <div class="single_column">
                <div class="images">
                    <div class="poster">
                        <div class="image_content">
                            <img src="{{baseImageUrl+movieDetails.poster_path}}" alt="" class="poster">
                        </div>
                    </div>
                    <div class="header_poster_wrapper"></div>
                </div>
      </div>
</div>


<!-- decoding and coding from here https://www.themoviedb.org/movie/211672-minions -->