<div class="header large" [lazyLoad]="image">
        <div class="custom_bg lazyloaded"   >
                <div class="single_column">
                        <div class="images">
                            <div class="poster">
                                
                                    <img src="{{baseImageUrl+movieDetails.poster_path}}" alt="" >
                                    <div class="header_poster_wrapper">
                                            <section class="headerposter">
            
                                            </section>
                                        </div>
                            </div>
                            
                        </div>
                </div>
        </div>
</div>


<!-- decoding and coding from here https://www.themoviedb.org/movie/211672-minions -->