.media{
    
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    
}

.media:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.media-body{
    padding: 2px 16px;
}


.mt-0{
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    color: #136CB2;
    font-size: 15px;
}

.description{
    font-family: sans-serif,Verdana, Arial;
    font-size: 13px;
    margin-top: 20px;
}

.list-unstyled{

    margin-top: 10px;
}

span#vote_average {
    float: right;
    padding-top: 0;
    margin-right: 0;
    display: inline-flex;
    align-items: center;
    font-size: 1.1em;
    line-height: 24px;
    text-align: center;
}

span#release_date{
   
    padding-top: 0;
    margin-right: 0;
    display: inline-flex;
    align-items: center;
    font-size: 1.1em;
    line-height: 24px;

}

span#genres{

    padding-left: 1px;
   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}
.moreinfo_footer{

}
.view_more{
    border-top: 1px solid #e3e3e3;
    bottom: 0;
    left: 10;
    padding: 16px;
}
