.row{
    padding: 2px ;
    margin: 10px;
    margin: 20px 300px 0px 300px;
} 

.card-movie-title{
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    color: #136CB2;
    font-size: 13px;
}

.description{
    font-family: sans-serif,Verdana, Arial;
    font-size: 13px;
    margin-top: 20px;
}

.list-unstyled{

    margin-top: 10px;
}

span#vote_average {
    float: right;
    padding-top: 0;
    margin-right: 0;
    display: inline-flex;
    align-items: center;
    font-size: 1.1em;
    line-height: 24px;
    text-align: center;
}

span#release_date{
   
    padding-top: 0;
    margin-right: 0;
    display: inline-flex;
    align-items: center;
    font-size: 1.1em;
    line-height: 24px;

}

span#genres{

    padding-left: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}

.view_more{
    border-top: 1px solid #e3e3e3;
    padding: 16px;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 32px);
  
}


img{
    width: 100%;
}


.genres-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.row-item{
    padding: 0px;
    margin: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.dummy-row{
    margin: 10px;
}

.image{
    padding: 0px;
}

.card-div{
    margin-top: 10px;
}

.card-info{
    position: relative; 
    height: 100%;
}

#movie_details{
    color: #000;
    text-decoration: none;
}

