<section id="search">
  <div class="sub_media">
    <div class="autocomplete">
        <input #searchBox class="search" type="text" placeholder="Search for a movie..." [formControl]="searchInput"  /><span (click)="searchBox.value=''">Clear</span> 
    </div>
  </div>
  <!-- <div class="animation-container"> -->
      <!-- <div class="k-list-container"> -->
          <div class="k-list-scroller" [style.visibility]="(edit == false) ? 'hidden' : 'visible' " (window:mouseup)="autoCloseForDropdownCars($event)">
            <ul>
              <li class="m-item" *ngFor="let movie of results | async">
                <div class="mv_results">
                  <div class="mv_item">
                    <div class="image_content">
                      <img  src="{{baseImageUrl + movie.poster_path}}" alt="">
                    </div>
                    <div class="content">
                      <p class="title"> {{ movie.title }}</p>
                      <p class="sub">{{ movie.release_date }}</p>
                    </div>
                  </div>
                </div>
            </ul>
          </div>
        <!-- </div> -->
  <!-- </div> -->
  

</section>